<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coursefinder">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CourseFinder"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CourseSchSelect"
            android:exported="false" />
        <activity
            android:name=".PlayingRegister.FourthCategoryResult"
            android:exported="false" />
        <activity
            android:name=".mycourse.ExCourseReview"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseRegitDetail"
            android:exported="false" />
        <activity
            android:name=".UploadImg"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".PlayingRegister.FirstCateogryResult"
            android:exported="false" />
        <activity
            android:name=".PlayingRegister.SecondCateogryResult"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseUserCourse"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseDetailCourse"
            android:exported="false" />
        <activity
            android:name=".exercise.ExerciseCourseList"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainCategory"
            android:exported="false" />
        <activity
            android:name=".Main"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="53o7d43lub" />

        <activity android:name=".mycourse.MyCourse" />
        <activity android:name=".mycourse.CourseReview" />
        <activity android:name=".smallcategory.SmallCategory" />
        <activity android:name=".smallcategory.SmallCategoryOrder" />
        <activity android:name=".PlayingRegister.PlayingRegister" />
        <activity android:name=".Register" />
        <activity android:name=".Course.CourseDetail" />
        <activity android:name=".Course.CourseList" />
        <activity android:name=".Course.CourseListResult" />
        <activity android:name=".Course.SearchRegister" />
        <activity android:name=".Course.CourseListMapping" />
        <activity android:name=".Course.CourseListSelect" />
        <activity android:name=".Course.CourseChangePlace" />
        <activity android:name=".Review.Review" />
        <activity android:name=".Review.ReviewDetail" />
        <activity android:name=".ranking.Ranking" />
        <activity android:name=".Course.CourseRegitDetail" />
        <activity android:name=".exercise.ExerciseCourseRegit" />
        <activity android:name=".PlayingRegister.ThirdCategoryResult" />
    </application>

</manifest>